@import "tailwindcss";

@keyframes waveSlow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes waveReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-waveSlow {
  animation: waveSlow 30s linear infinite;
}

.animate-waveReverse {
  animation: waveReverse 40s linear infinite;
}
